.Cell {
  position: relative;
  display: flex;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

  background: rgb(190, 190, 190);
  border-radius: 0.5em;
  transform: translateZ(-2em);
  flex-grow: 1;
  font-size: 1.5em;
  margin: 0.2em;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.1);
}
.Cell .overlay {
  display: flex;
  border-radius: 0.2em;
  flex-grow: 1;
  font-size: 2em;
  padding: 0.3em;
  align-items: center;
  justify-content: center;
}
.Cell:hover .overlay{
  background: rgba(180, 180, 180, 0.7);
}
.Cell.available .overlay{
  background: rgba(245, 255, 245, 0.9);
}
.Cell.available:hover .overlay{
  background: rgba(225, 255, 225, 0.7);
}
.Cell.pressed .overlay{
  color: rgb(200, 200, 200);
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background: rgb(220, 220, 220);
}

.Cell.number-1{
  background: rgb(90, 205, 255);
  box-shadow: 0 0.2em 0 0 rgba(90, 205, 255, 0.5);
}

.Cell.number-2{
  background: rgb(100, 255, 255);
  box-shadow: 0 0.2em 0 0 rgba(100, 255, 255, 0.5);
}

.Cell.number-3{
  background: rgb(100, 255, 180);
  box-shadow: 0 0.2em 0 0 rgba(100, 255, 180, 0.5);
}

.Cell.number-4{
  background: rgb(210, 255, 100);
  box-shadow: 0 0.2em 0 0 rgba(210, 255, 100, 0.5);
}

.Cell.number-5{
  background: rgb(255, 255, 100);
  box-shadow: 0 0.2em 0 0 rgba(255, 255, 100, 0.5);
}

.Cell.number-6{
  background: rgb(255, 235, 100);
  box-shadow: 0 0.2em 0 0 rgba(255, 235, 100, 0.5);
}

.Cell.number-7{
  background: rgb(255, 195, 100);
  box-shadow: 0 0.2em 0 0 rgba(255, 195, 100, 0.5);
}

.Cell.pressed{
  position: relative;
  top: 0.1em;
  border: 1px solid rgb(210, 210, 210);
  box-shadow: 0 1px 0 0 rgba(90, 90, 90, 0.5);
}

.Cell.pressed .effect {
  animation-name: flash-animation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;

  border-radius: 200em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@keyframes flash-animation {
    from { background: white;  }

    to {
      background: default;
      top: -4em;
      bottom: -4em;
      left: -4em;
      right: -4em;
    }
}
