.ProgressBar {
  margin: 1em 5em 1em 3em;
  border: #EEE 1px solid;
  border-radius: 2em;
  background: #EAEAEA;
}

.ProgressBar .outer {
  border-radius: 2em;
}
.ProgressBar .outer .inner {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

  min-width: 2em;
  padding: 1em;
  border-radius: 2em;
  color: white;
  width: 0%;
  height: 1em;
  display: block;
}

.ProgressBar.red .outer .inner {
  background: rgba(200, 100, 100, 1);
}
.ProgressBar.orange .outer .inner {
  background: rgba(200, 150, 100, 1);
}
.ProgressBar.yellow .outer .inner {
  background: rgba(200, 220, 100, 1);
}
.ProgressBar.green .outer .inner {
  background: rgba(100, 220, 100, 1);
}
