.App {
  margin: 3em auto;
  text-align: center;
  font-size: 0.6em;
}
.App.locked {
  background: rgb(200, 100, 100);
}
.App.complete {
  background: rgb(100, 200, 100);
}

.Puzzle {
  display: flex;
  background: rgb(245, 245, 245);
  border: 1px solid rgb(230, 230, 230);
  flex-direction: column;
}

.Row {
  display: flex;
  flex-grow: 1;
}

.score button {
  outline: 0;
  padding: 2em;
  border-radius: 2em;
  cursor: pointer;
  background: white;
}
.score button:hover {
  background: rgb(200, 200, 200);
}

.CubeContainer {
  position: relative;
  height: 30em;
  width: 30em;
}

.Cube {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  margin: 3em;
  width: 100%;
  height: 100%;
  /* transform-style: preserve-3d; */
}

.Cube .Face {
  position: absolute;
  border: 1px solid rgb(200, 200, 200);
  width: 100%;
  height: 100%;
}

/*
.Cube .Face.one { transform: rotateY(-90deg) translateZ( 20em ); }
.Cube .Face.two { transform: rotateY(0deg) translateZ( 20em );}
.Cube .Face.three { transform: rotateY(90deg) translateZ( 20em );}
.Cube .Face.four { transform: rotateY(180deg) translateZ( 20em );}
.Cube .Face.five { transform: rotateX(90deg) translateZ( 20em );}
.Cube .Face.six { transform: rotateX(-90deg) translateZ( 20em );}
*/
